<!-- Om Ganeshay Namah -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="/static/style8.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css">
</head>
<body>
    <header id="header">
        <h1 id="heading"> RK PATEL AND COMPANY</h1>
        <a id="home_button" href="{% url "home" %}">HOME</a>
        <a id="login_button" href="{% url 'login' %}" target="_blank">Login</a> 
    </header>
    <section id="body-section">
        <div id="contact_div">
            <u><i><h1 id="rkHeading">R.K. Patel and Company</h1></u></i>
            <h2 id="timMerHead">Timber Merchants</h3>
            <h3 id="address">Address - Ganga Sagar, Garha Road, Madan Mahal, Jabalpur (M.P.), India</h3>
            <h3 id="address">Pincode - 482003</h3>
            <h3 id="phone">Phone - +91-9424372014, +91-9424712014</h3>
            <h3 id="phone">Email - rkwebemail@gmail.com</h3>

        </div>
    </section>
    <p id="copyright">&copy; 2024 R.K. Patel and Company. All rights reserved.</p>
</body>
</html>