<!-- Om Ganeshay Namah -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta rel="icon" href="/static/rk_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RK Patel and Company</title>
    <link href="/static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css">
</head>
<body>
    <header id="header">
        <h1 id="heading"> RK PATEL AND COMPANY</h1>
        <a id="help_button" href="{% url "help" %}">HELP</a>
        <a id="contact_button" href="{% url "contact" %}">CONTACT US</a>
        <a id="login_button" href="{% url 'login' %}">Login</a> 
    </header>
    <section id="body-section">
        <div id="left-section">
            {% comment %} photo is the left section is updated here through css (style.css) {% endcomment %}
        </div>
        <div id="right-section">
            <h1 id="TimMer">Timber Merchants</h1>
            <p id="address">
                Ganga Sagar, Garha Road, Madan Mahal, Jabalpur, India, Pincode:- 482003 Mob:-9424372014, 9039972014
            </p>
            <h3 id="follow">
                Follow Us on Instagram -->
            </h3>
            <div id="insta_qr"></div>
        </div>
    </section>
    <p id="copyright">&copy; 2024 R.K. Patel and Company. All rights reserved.</p>
</body>
</html>