<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order ID - 0000002</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style9.css">
</head>
<body>
    <header id="header">
        <h1 id="heading"> RK PATEL AND COMPANY</h1>
    </header>

    <section>
        <h1 id="firm_welcome"><i>ORDER ID - XXXXXXXXX</i></h1>
        <div class="line"></div>
    </section>

    <section id="desc_section">
        <div id="desc_container">
            <h2>DATE OF ORDER- XX/XX/XXXX</h2>
            <h2>STATUS - <a style="color:rgb(0, 194, 0);">COMPLETED</a></h2>
            <h2>DATE OF PICKUP- XX/XX/XXXX</h2>
        </div>
    </section>
    <div class="line"></div>

    <section id="orderDetailsTable" class="orderDetail">
        <h1 id="left_heading"><i>Order Summary</i></h1>
        <table id="orderSummaryTable">
            <tr>
                <th class="table_heading">S.No.</th>
                <th class="table_heading">Breadth (in)</th>
                <th class="table_heading">Height (in)</th>
                <th class="table_heading">Length (f)</th>
                <th class="table_heading">Quantity</th>
                <th class="table_heading">Color</th>
            </tr>
            <!-- entry will be added dynamically -->
        </table>
    </section>

</body>